/*  ========================================
    COLORS
    ======================================== */

@color-primary: hsl(200, 60%, 45%);
@color-secondary: hsl(60, 71%, 55%);

@color-dark: hsl(201, 15%, 27%);
@color-light: #FFF;
@color-dark-shadow: fadeout(@color-dark, 50%);
@color-light-shadow: fadeout(@color-light, 50%);
